In [2]:
import numpy as np
import json
import pandas as pd
import random

time_series = np.arange(1,53)
print(time_series)

ts_j = time_series.tolist()
print(ts_j)
json_ts = json.dumps(ts_j)

print(json_ts)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52]

In [33]:
aleks_income = []
stud1_income = []
hourly_wage = 160.1

randomlist = []
for i in range(0,52):
    n = random.randint(0,5)
    randomlist.append(n)
#print(randomlist)


def weekly_income(stud_lst, hours):
    wage = round(hours * hourly_wage, 1)
    stud_lst.append(wage)
    return income_lst

for el in randomlist:
    weekly_income(aleks_income, el)

stud1_rand = []

for i in range(0,52):
    n = random.randint(0,7)
    stud

In [2]:
timedate = pd.Series(range(52), index=pd.date_range("2021", freq="W-MON", periods=52))

ts_df = pd.DataFrame(timedate)
ts_df.columns = ['Index']

ts_df['aleksandermittet@gmail.com'] = aleks_income


print(ts_df)

ts_df.to_json (r'C:\Users\alexm\Desktop\pandas.json')

NameError: name 'pd' is not defined